body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Պահպանում ենք էջի բարձրությունը */
    overflow: hidden /* Կասեցնում ենք էջի սքրոլը */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-popup {
    background-color: white; /* Պատուհանի ֆոն */
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Պատուհանի լայնություն */
    text-align: center; 
}

.error-message {
    color: red;
    margin-top: 10px;
}

/* Գաղտնաբառի ներդիր */
input[type="password"] {
    width: 200px; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

button {
    padding: 10px 20px; 
    border: none; 
    background-color: #4CAF50; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer; 
}

button:hover {
    background-color: #45a049; 
}
/* Գաղտնաբառի պատուհանի սթիլներ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.password-popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.error-message {
    color: red;
    font-weight: bold;
}


#no-results-message {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

#back-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#back-button:hover {
    background-color: #45a049;
}

.back-button:hover {
    background-color: #45a049;
}
/* Կայքի բովանդակության ֆոն */
#main-content {
    width: 85%;
    height: 150px;
    bottom: 13px;
    border: 3px solid #004f28; /* Մուգ կանաչ եզրագիծ */
    padding: 10px;  
    border-radius:10px;
    background-color: #ffffff87;
    top:200px;
    left:15px;
    position: relative;
    z-index: 1; /* Որպեսզի տեքստը լինի վերևում */
}
/* Google Maps քարտեզի ֆոն */
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Քարտեզը տեղադրել է տեքստի տակ */
}
.item {

    padding: 30px; /* Այս արժեքը կարող եք փոխել ըստ ձեր պահանջների */
    border: 1px solid #ccc; /* Այստեղը սահմանել է սահմանագիծ, որպեսզի տեսանելի լինի */
    width:80%;
    background-color:#ffffff70;
}
.image-container img {
            width: 50px; /* Փոքր չափ */
            height: 50px;
            cursor: pointer;
            
        }

/* Որոնման արդյունքների պատուհանի ոճերը */
.result-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.result-popup {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    width: 80%;
    border: 3px solid #004f28;
}

#enlargedImg {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: 90%;
    max-height: 90%;
    border: 5px solid #fff; /* Optional: white border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: shadow effect */
}

.result-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    border: none;
   
}

.result-popup-close:hover {
    color: #ffffff;
}


h3,h2{
    color: white; /* Սպիտակ տեքստ */
    text-align: center; /* Տեքստի կենտրոնացում */
    font-size: 20px; /* Տեքստի չափը */
    text-shadow: 
        -1px -1px 0 #004f28,  
        2px -1px 0 #004f28,
        -1px 2px 0 #004f28,
        2px 2px 0 #004f28; /* Սև եզրագծեր */
   
   
}

#search{
    width: 150px;
    height: 30px;
    border: 1px solid #004f28; 
    border-radius: 5px; ;
    margin-left:90px;
 lav    
}
 
.pntrel{
    margin-top:5px;
    margin-left:125px;
    
}
b{
 text-align: center;
    color:#ab0007;
     font-size: 16px; /* Միջին չափ */
    font-weight: bold; /* Հաստ տառեր */
    font-family: 'Arial', sans-serif; /* Գեղեցիկ և ընթեռնելի տառատեսակ */
    line-height: 1.5;
}
   

.text{
     font-size: 16px; /* Միջին չափ */
    font-weight: bold; /* Հաստ տառեր */
    font-family: 'Arial', sans-serif; /* Գեղեցիկ և ընթեռնելի տառատեսակ */
    line-height: 1.5; /* Տողերի միջև բացվածք */
    color: #333; /* Տեքստի գույն */
}

  .image-container {
            position: relative;
            display: inline-block;
        }
     /* Մեծացած պատկեր */
        .image-container img.enlarged {
            width: 400px; /* Մեծացված չափ */
        }

        .buttons-container {
            display: inline-block;
            vertical-align: top;
            margin-left: 10px;
        }

        .buttons-container button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            transition: 0.3s ease;
        }

        .buttons-container button:hover {
            background-color: #45a049;
        }


#searchField {
    display: none; /* Թաքցնում որոնման դաշտը սկզբում */
}



/* Պատուհանի ստիլ */
.modal {
    display: flex; /* Կենտրոնացում */
    justify-content: center; /* Կենտրոնացնել պատուհանը */
    align-items: center; /* Կենտրոնացնել ուղղահայաց */
    background-color: rgba(0, 0, 0, 0.8); /* Փայլուն մութ ֆոն */
    position: fixed; /* Բարձրացնելով պատուհանը */
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.modal-content {
    border-radius: 15px; /* Կլոր անկյուններ */
    border: 5px solid darkgreen; /* Մուգ կանաչ եզրագիծ */
    max-width: 100%; /* Ավելի լայն լինելու դեպքում, պետք է լինեն սահմանափակումներ */
    height: auto; /* Կապում բարձրության համապատասխան */
    transform: translateY(150px); /* Գնացեք 20px ներքև */
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}



#close-popup {
    background: none;
    border: none;
    font-size: 24px; /* Օգտագործեք անհրաժեշտ չափը */
    cursor: pointer;
    color: red; /* Փոխեք գույնը ըստ ցանկության */
}





